# System
alias ls="ls --color=auto"

# Docker & docker-compose
alias dc="docker-compose"

# Git
alias gc="git commit"
alias gl="git log"
alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gs="git status"
